*{
  margin : 0 ;
  padding : 0 ;
  font-family: 'Poppins', sans-serif; ;
}
/* première page de présentation */

.start{
  min-height: 100vh ;
  width: 100% ;
  background-image: url("/Users/mahepricam/Documents/Cours/projetprog/site/image/1584345112_covid19.jpg");
  background-position: center;
  background-size: cover;
  position : relative;
  opacity: 70% ;
}

nav{
  display: flex;
  padding: 3% 3%;
  justify-content: space-between;
  align-items: center;
}

.cours{
  list-style: none ;
  font-size: 20px ;
  text-align: center;
  color : #DC0606 ;
  text-shadow: 0.7px 0.7px 1px black ;
}

.nav-links{
   flex: 1 ;
   text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  text-align: center;
}
.nav-links ul li a{
  color: #fff ;
  text-decoration: none;
  font-size: 15px ;
}

.nav-links ul li::after{
  content: "";
  width:0% ;
  height: 2px ;
  background: #DC0606 ;
  display: block;
  margin: auto;
  transition: 0.5s ;
}
.nav-links ul li:hover::after{
  width: 100% ;
}
.page_garde0{
  width: 90% ;
  color : #fff ;
  position: absolute;
  top : 50% ;
  left : 50% ;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 1px 1px 2px black ;
}
.page_garde0 h1{
  font-size: 60px ;
}
.page_garde0 p{
  margin: 10px 0 40px;
  font-size: 20px ;
  color: #fff ;
}
.intro{
  display: inline-block;
  text-decoration: none;
  color : #fff;
  border : 1px solid #fff ;
  padding : 12px 34px;
  font-size: 15px ;
  background: transparent ;
  position: relative;
  cursor: pointer;
}
.intro:hover{
  border: 1px solid #DC0606;
  background: #DC0606;
  transition: 1s;
}

/* Introduction  */

.introduction{
  width : 80% ;
  margin : auto;
  text-align: left;
  padding-top: 100px;
}
.titre_intro{
  font-size: 40px ;
  font-weight: 600 ;
  text-align: center;
}
.texte_intro{
  margin-top: 20px;
  font-size: 16px ;
  font-weight: 300 ;
  line-height: 22px ;
  padding: 10px ;
}

/* Nos photos */

.nous{
  width : 50% ;
  margin : auto ;
  text-align: center ;
  padding-top: 100px ;
}
.nous h1{
  font-size: 30px ;
  font-weight: 530 ;
}
.photo{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.profil{
  width: 20%;
  flex-basis: 32% ;
  border-radius: 10px ;
  margin-bottom: 30px ;
  margin-top: 20px;
  position : relative;
  overflow: hidden;
}
.profil img{
  height: auto;
  width : 100% ;
}
.profil h3{
  font-size: 16px;
  font-weight: 400;
}
._nom{
  background:transparent ;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
._nom:hover{
  background: #fff;
  opacity: 0.6;
}

._nom h3{
  width: 100%;
  font-size: 20px ;
  font-weight: 500;
  color: #000;
  bottom: 10%;
  left :50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
._nom:hover h3{
  bottom : 42%;
  opacity: 1;
}

/* Références */

.ref{
  width: 80% ;
  margin: auto;
  text-align: center;
  padding-top: 100px ;
  padding-bottom: 50px;
}
.ref h1{
  font-size: 40px;
  font-weight: 500;
}
.ref ul{
  list-style: none;
  text-align: left;
  padding-top: 50px;
}
.ref ul li{
  padding : 5px;
}

/* Page de garde partie 1 et 2 */

.page_garde{
  width: 90% ;
  color : #fff ;
  position: absolute;
  top : 30% ;
  left : 50% ;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 1px 1px 2px black ;
}
.page_garde h1{
  font-size: 60px ;
  margin-top: 50px ;
}
.part_intro{
  width : 80%;
  margin: auto;
  text-align: left;
  padding-top: 100px;
  font-size: 16px ;
  font-weight: 300 ;
}
.part_intro h1{
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px ;
  font-weight: 600 ;
}

/* partie 1 */
.partie1{
  height: 60vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0)), url(/Users/mahepricam/Documents/Cours/projetprog/site/image/partie1.jpg);
  background-position: center;
  background-size: cover ;
  text-align: center;
  color : #fff;
}

.liste{
  margin: 20px 0 20px 100px ;
}

/* simulation 1, 2, 3, 4*/

.simu{
  width : 80% ;
  margin : auto ;
  padding-top: 70px;
  text-align: center;
}
.simu h3{
  font-size: 25px;
  font-weight: 500;
}
.simu p{
  padding-top: 20px ;
  text-align: left ;
  font-size: 16px ;
  font-weight: 300;
}
.simu_titre{
  padding-top: 40px ;
  display: flex ;
  justify-content: space-between;
  align-items: center;
}
.simu_txt img{
  width : 100% ;
}
.simu_txt h3{
  font-size: 13px ;
  font-weight: 300;
}
.simu_txt{
  flex-basis: 50%;
  padding : 30px 20px;
}
.simu_txt p{
  padding-bottom: 30px;
  text-align: left ;
  font-size: 16px;
  font-weight: 300;
}

/* conclu partie 1 et 2 */

.conclu{
  width: 80% ;
  margin: auto ;
  padding-top: 100px ;
  padding-bottom: 50px ;
  text-align: center;
}
.conclu h1{
  font-size: 30px ;
  font-weight: 600 ;
  margin-bottom: 40px;
}
.conclu p{
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}

/* partie 2 */

.partie2{
  height: 60vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0)), url(/Users/mahepricam/Documents/Cours/projetprog/site/image/parti2.gif);
  background-position: center;
  background-size: cover ;
  text-align: center;
  color : #fff;
}

/* intro partie 2 */

.part_intro img{
  width :100% ;
  padding-top: 20px;
  padding-bottom: 20px;
}
.part_intro b{
  font-weight: 550;
}
.categorie{
  list-style: none;
  padding: 20px 0 20px 50px;
}
.categorie li{
  padding: 2px;
}
.equation{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.equation h3{
  font-size: 18px;
  font-weight: 400;
}
.equation h4{
  padding-top: 45px;
  font-size: 16px;
  font-weight: 400;
}
.equation ul{
  list-style: none;
  padding-top: 10px;
}
.equation ul li{
  padding: 5px;
}

/* simulation 1 */

.model1{
  width: 80%;
  margin: auto;
  padding-top: 70px;
  text-align: left;
}
.model1 h2{
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 40px;
}
.model1 p, .model1 ol{
  font-size: 16px;
  font-weight: 300;
}
.model1 ol li{
  margin: 20px 0 20px 100px ;
}
.model1 b{
  font-weight: 550;
}
.graph{
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 50px;
}
.graph img{
  width: 100%;
}
.animation:hover{
  opacity: 1;
  transition: all 0.3s ease-in-out ;
  transform: scale(1.7,1.7);
  z-index: 10;
  overflow: hidden;
}
.graph h3{
  font-size: 13px;
  font-weight: 300;
}
/* conclusion général */

.conclu_gen{
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: left;
  margin-bottom: 50px;
}
.conclu_gen h1{
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
.conclu_gen p{
  padding-top: 40px;
  font-size: 16px;
  font-weight: 300;
}
