*{
  margin : 0 ;
  padding : 0 ;
  font-family: 'Poppins', sans-serif; ;
}
/* première page de présentation */

.start{
  min-height: 100vh ;
  width: 100% ;
  background-image: url("/Users/mahepricam/Documents/Cours/projetprog/site/image/1584345112_covid19.jpg");
  background-position: center;
  background-size: cover;
  position : relative;
   opacity: 70% ;
}

nav{
  display: flex;
  padding: 3% 3%;
  justify-content: space-between;
  align-items: center;
}

.cours{
  list-style: none ;
  font-size: 20px ;
  text-align: center;
  color : #DC0606 ;
}

.nav-links{
   flex: 1 ;
   text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  text-align: center;
}
.nav-links ul li a{
  color: #fff ;
  text-decoration: none;
  font-size: 15px ;
}

.nav-links ul li::after{
  content: "";
  width:0% ;
  height: 2px ;
  background: #DC0606 ;
  display: block;
  margin: auto;
  transition: 0.5s ;
}
.nav-links ul li:hover::after{
  width: 100% ;
}
.page_garde{
  width: 90% ;
  color : #fff ;
  position: absolute;
  top : 50% ;
  left : 50% ;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 1px 1px 2px black ;
}
.page_garde h1{
  font-size: 60px ;
}
.page_garde p{
  margin: 10px 0 40px;
  font-size: 20px ;
  color: #fff ;
}
.intro{
  display: inline-block;
  text-decoration: none;
  color : #fff;
  border : 1px solid #fff ;
  padding : 12px 34px;
  font-size: 15px ;
  background: transparent ;
  position: relative;
  cursor: pointer;
}
.intro:hover{
  border: 1px solid #DC0606;
  background: #DC0606;
  transition: 1s;
}

/* Introduction  */

.introduction{
  width : 80% ;
  margin : auto;
  text-align: center;
  padding-top: 100px;
}
.titre_intro{
  font-size: 36px ;
  font-weight: 600 ;
}
.texte_intro{
  margin-top: 20px;
  font-size: 14px ;
  font-weight: 300 ;
  line-height: 22px ;
  padding: 10px ;
}

/* Nos photos */

.nous{
  width : 50% ;
  margin : auto ;
  text-align: center ;
  padding-top: 100px ;
}
.titre_nous{
  font-size: 30px ;
  font-weight: 530 ;
}
.photo{
  display: flex;
  justify-content: space-between;
}
.profil{
  width: 20%;
  flex-basis: 32% ;
  border-radius: 10px ;
  margin-bottom: 30px ;
  margin-top: 20px;
  position : relative;
  overflow: hidden;
}
.profil img{
  width : 100% ;
}
._nom h3{
  font-size: 15px ;
  font-weight: 500;
}

/* Références */

.ref{
  width: 80% ;
  margin: auto;
  text-align: center;
  padding-top: 100px ;
}
