*{
  margin : 0 ;
  padding : 0 ;
  font-family: 'Poppins', sans-serif; ;
}
/* première page de présentation */

.start{
  min-height: 100vh ;
  width: 100% ;
  background-image: url("/Users/mahepricam/Documents/Cours/projetprog/site/image/1584345112_covid19.jpg");
  background-position: center;
  background-size: cover;
  position : relative;
  opacity: 70% ;
}

nav{
  display: flex;
  padding: 3% 3%;
  justify-content: space-between;
  align-items: center;
}

.cours{
  list-style: none ;
  font-size: 20px ;
  text-align: center;
  color : #DC0606 ;
}

.nav-links{
   flex: 1 ;
   text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  text-align: center;
}
.nav-links ul li a{
  color: #fff ;
  text-decoration: none;
  font-size: 15px ;
}

.nav-links ul li::after{
  content: "";
  width:0% ;
  height: 2px ;
  background: #DC0606 ;
  display: block;
  margin: auto;
  transition: 0.5s ;
}
.nav-links ul li:hover::after{
  width: 100% ;
}
.page_garde{
  width: 90% ;
  color : #fff ;
  position: absolute;
  top : 50% ;
  left : 50% ;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 1px 1px 2px black ;
}
.page_garde h1{
  font-size: 60px ;
}
.page_garde p{
  margin: 10px 0 40px;
  font-size: 20px ;
  color: #fff ;
}
.intro{
  display: inline-block;
  text-decoration: none;
  color : #fff;
  border : 1px solid #fff ;
  padding : 12px 34px;
  font-size: 15px ;
  background: transparent ;
  position: relative;
  cursor: pointer;
}
.intro:hover{
  border: 1px solid #DC0606;
  background: #DC0606;
  transition: 1s;
}

/* Introduction  */

.introduction{
  width : 80% ;
  margin : auto;
  text-align: center;
  padding-top: 100px;
}
.titre_intro{
  font-size: 38px ;
  font-weight: 600 ;
}
.texte_intro{
  margin-top: 20px;
  font-size: 16px ;
  font-weight: 300 ;
  line-height: 22px ;
  padding: 10px ;
}

/* Nos photos */

.nous{
  width : 50% ;
  margin : auto ;
  text-align: center ;
  padding-top: 100px ;
}
.titre_nous{
  font-size: 30px ;
  font-weight: 530 ;
}
.photo{
  display: flex;
  justify-content: space-between;
}
.profil{
  width: 20%;
  flex-basis: 32% ;
  border-radius: 10px ;
  margin-bottom: 30px ;
  margin-top: 20px;
  position : relative;
  overflow: hidden;
}
.profil img{
  width : 100% ;
}
._nom h3{
  font-size: 15px ;
  font-weight: 500;
}

/* Références */

.ref{
  width: 80% ;
  margin: auto;
  text-align: center;
  padding-top: 100px ;
}
/* partie 1 */
.partie1{
  height: 60vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(/Users/mahepricam/Documents/Cours/projetprog/site/image/simu_visuelle.png);
  background-position: center;
  background-size: cover ;
  text-align: center;
  color : #fff;
}
.page_garde2{
  width: 90% ;
  color : #fff ;
  position: absolute;
  top : 30% ;
  left : 50% ;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 1px 1px 2px black ;
}
.page_garde2 h1{
  font-size: 60px ;
  margin-top: 50px ;
}
.part1_intro{
  width : 80%;
  margin: auto;
  text-align: left;
  padding-top: 100px;
  font-size: 16px ;
  font-weight: 300 ;
}
.part1_intro h1{
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px ;
  font-weight: 600 ;
}
.liste{
  margin: 20px 0 20px 100px ;
}

/* simulation 1, 2, 3, 4*/

.simu{
  width : 80% ;
  margin : auto ;
  padding-top: 70px;
  text-align: center;
}
.simu h3{
  font-size: 25px;
  font-weight: 500;
}
.simu p{
  padding-top: 20px ;
  text-align: left ;
  font-size: 16px ;
  font-weight: 300;
}
.simu_titre{
  padding-top: 40px ;
  display: flex ;
  justify-content: space-between;
  align-items: center;
}
.simu_txt img{
  width : 100% ;
}
.simu_txt h3{
  font-size: 13px ;
  font-weight: 300;
}
.simu_txt{
  flex-basis: 50%;
  padding : 30px 20px;
}
.simu_txt p{
  padding-bottom: 30px;
  text-align: left ;
  font-size: 16px;
  font-weight: 300;
}

/* conclu */

.conclu{
  width: 80% ;
  margin: auto ;
  padding-top: 100px ;
  padding-bottom: 50px ;
  text-align: center;
}
.conclu h1{
  font-size: 30px ;
  font-weight: 600 ;
  margin-bottom: 50px;
}
.conclu p{
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}
